@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#crsr {
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 50%;
  position: absolute;
  z-index: 999999999;
  pointer-events: none;
  border: 2px solid rgba(15, 255, 251, 0.781);
  mix-blend-mode: lighten;
  background: #3ca8f5;
  transform: translate(-130%, -120%);
}
h1:focus {
  outline: none;
}

.main {
  background-image: url("./Main_bg.jpg");
  background-size: cover;
}

.home {
  box-shadow: 0 0 3rem rgb(75 33 174);
  background: linear-gradient(220.55deg, #a8d6f9 0%, #0064cf 80%);
}
.signup_container {
  background: linear-gradient(220.55deg, #00e8aa 0%, #2fcbff 170%);
}
.sign_main {
  background: linear-gradient(220.55deg, #a8ffe9 0%, #21c8ff 80%);
}

.pic:before {
  content: "";
  height: 100%;
  width: 100%;
  filter: blur(5px 10px);
}
.btn {
  background: #0076c4;
}
.btn:hover {
  background: #0f9fff;
}