.user_container::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  background-color: transparent;
}

.user_container::-webkit-scrollbar-thumb {
  background: rgba(44, 128, 255, 0.753);
  border-radius: 8px;
  transition: ease-in 2;
  cursor: pointer;

}

.user_container::-webkit-scrollbar-thumb:hover {
  background: rgb(21, 91, 255);
  transition: ease-in 1s;
  transform: scale(2)
}

.user_container::-webkit-scrollbar-track {
  background-color: transparent;
  display: none;
}

.user_container {
  overflow-y: auto;
}

.dashboard_blance  {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
.user_container_main {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 1vw;
  padding-right: 0;
  border-radius: 15px;
}
.dashboard_main {
  background: linear-gradient(220.55deg, #ffdb80 0%, #ffffff 170%);
}

.dashboard_blance {
  margin-top: 10vh;
}
.input {
  height: 1em;
}
